body {
    text-align:center;
    color:white;
    font-family:helvetica;
}

b {
    color:#f4bf42;
    font-family: monospace;
    font-size: 1.2em;
    text-shadow: 1px 1px black;
}

h1, h2 {
    padding:10px;
}

h1 {
    font-family: monospace;
    font-size:35px;
}

* {
    margin:0px;
}

#section1 {
    background-color:#4164c1;
    width:100%;
    
}

#main-pic {
    width:50%;
    margin:0px;
}

#desc {
    width:90%;
    margin:auto;
    line-height:20px;
    padding-bottom:10px;
}

#section2 {
    background-color:#f4bf42;
    width:100%;
    
}

.gallery-wrapper {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}


.gallery {
    border: solid 2px white;
    align-self:center;
    width:25%;
    margin:10px;
}

#section3 {
    background-color:#f46541;
    width:100%;
    
}


.timeline {
    list-style: none;
    text-align:left;
}

li {
    width: 700px;
    background-color:white;
    color:black;
    padding:3px;
    margin:auto;
}

.year {
    display: inline;
    background-color:#f4bf42;
    padding:7px;
    margin:2px;
}

.footer {
    padding:10px;
}

@media screen and (max-width: 480px) {

    #main-pic {
        width:100%;
    }
   
    .gallery-wrapper {
        display:flex;
        flex-direction: column;
    }

    .gallery {
        width:90%;
    }

    li {
        width: 90%;

  }