/* h1 {
    font-size:50px;
}

form.form {
    display: table;
}

div.form {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
} */

body {
    margin:0;
}

.sections {
    height:800px;
    text-align:center;
}

.sections p {
    margin:0;
    width:500px;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#sec1 {
    background-color: #f19066;
}

#sec2 {
    background-color: #f5cd79;
}

#sec2 p {
    font-size:12px;
    margin:auto;
}

#sec2 img {
    width:500px;
    margin-top:20px;
}

#sec3 {
    background-color: #786fa6;
}

#sec4 {
    background-color: #f8a5c2;
}

.hidden {
    opacity:0;
}

